HOST=0.0.0.0

MONGO_URI=mongodb+srv://kiptootimothy120_db_user:Kiptoo%401300@cluster0.x78bhqs.mongodb.net/?retryWrites=true&w=majority

JWT_SECRET=reva-engineering-services-inventory-secret

COMPANY_NAME=REVA ENGINEERING SERVICES
APP_NAME=REVA Engineering Services Inventory System

DEFAULT_ADMIN_EMAIL=admin@revaengineeringservices.local
DEFAULT_ADMIN_PASSWORD=Admin@123

HEADQUARTERS_EMAIL=hq@revaengineeringservices.local
WAREHOUSE_EMAIL=warehouse@revaengineeringservices.local

PUBLIC_BASE_URL=https://your-app.onrender.com

ALLOWED_ORIGINS=http://localhost:3000,https://your-render-app.onrender.com
